/*Cor de fundo para todas as paginas*/
body {
    background-color: rgb(54, 54, 54);
    text-align: center;
}

/*Tela de login*/
.containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    gap: 30px;
    flex-wrap: wrap;
    
}
/*ContainerLogin*/
.Login {
    background-color: rgb(94, 94, 94);
    width: 440px;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid rgb(153, 153, 155); 
    text-align: center;
}


/* TítulosLogin */
.paragrafosLogin {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

/*Caixa de textos estilização*/
.caixaTextoLogin {
    width: 80%;
    max-width: 300px;
    padding: 12px 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    text-align: center;
    
}

.caixaTextoLogin:focus {
    border-color: aqua;
    outline: none;
    box-shadow: 0 0 8px rgb(10, 156, 214);
}

/*Espaçamento Login*/
.botaoLogin {
    margin: 10px;
}

/*Estilização dos botões do Login*/
.botoesGeral {
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255);
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.botoesGeral:hover {
    background-color: #aeafaf;
    transform: scale(1.05);
}

.botoesGeral:active {
    transform: scale(0.98);
}



/*Link Recuperar senha*/
a {
    color: rgb(0, 217, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    cursor: pointer;
}


/* Responsividade */
@media (max-width: 768px) {
    .flex-wrapper {
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

 
}

@media (max-width: 480px) {
    .caixaTexto {
        max-width: 100%;
        font-size: 14px;
    }

    .estilo {
        padding: 10px 20px;
        font-size: 14px;
    }

    .Paragrafos {
        font-size: x-large;
    }

    a {
        font-size: 14px;
    }
}

/*Tela Cadastre-se*/

#containerCadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    gap: 30px;
    flex-wrap: wrap;
}

#cadastro{
    background-color: rgb(94, 94, 94);
    width: 440px;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid rgb(153, 153, 155); 
    text-align: center;

}

#paragrafoCad{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}

.caixaTxtCadastrar{
       width: 80%;
    max-width: 300px;
    padding: 12px 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    text-align: center;
}

/*Tela recuperarSenha*/

/*Conteiner principal ajustando a posição*/
#containerSenha{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    gap: 30px;
    flex-wrap: wrap;
}

/*Colocando cor no container*/
#Senha{
    background-color: rgb(94, 94, 94);
    width: 440px;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid rgb(153, 153, 155); 
    text-align: center;
}


#paragrafoSenha{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

#caixaTxtSenha{
   width: 80%;
    max-width: 300px;
    padding: 12px 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    text-align: center;
}

#botaoRecuperar{
    margin: 10px;
}


/*Tela menu*/
#containerMenu{
 display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    gap: 30px;
    flex-wrap: wrap;
}

#menu{
    background-color: rgb(94, 94, 94);
    width: 440px;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid rgb(153, 153, 155); 
    text-align: center;

}


#paragrafoMenu{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}


.descricao{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 0);
}

.retorno{
    background-color: aquamarine;

}

td{
    background-color: #ccc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

tr{
    
    color: black;

}

#tabelinha{
    background-color: grey;

}